@import 'variables';
@import 'breakpoints';


footer {
  display: none;
  @media only screen and (min-width: $screen-md-min) {
    position: absolute;
    bottom: 0;
    color: #D1D7DCFF;
    /*left: 0;*/
    width: inherit;
    padding-bottom: 6px;
    margin: auto;
    width: 100%;
    display: block;
	}
}

footer p {
	font-size: 10px;
	padding:0;
	margin: 0 auto;
}

.fs-logo {
  color: $foursquare-logo-color;
}