$primary-background-color: #8AA59E;
$primary-font-color: #EFF5F5;
$highlight-color: #48605A;

$foursquare-logo-color: #F94879;


$mobile-header-height: 14vh;
$mobile-max-header-height: 105px;
$screen-md-lg-header-height: 11vh;

$mobile-map-height: 43vh;


$mobile-sidebar-width: 100%;
$screen-md-sidebar-width: 35%;
$screen-lg-sidebar-width: 30%;