* {
  box-sizing: border-box;
}

.app {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.head {
  width: 100%;
  height: 10vh;
}
.app-title {
  font-size: calc(20px + 0.5vw);
}

.sidebar {
  width: 30%;
  background-color: #696C6CFF;
  height: 90vh;
}

.attractions-select {
  background-color: white;
  border: 1px solid #fff;
  font-size: calc(12px + 0.5vw);
  margin: 5px;
  padding: 0 2px;
  width: calc(100% - 15px);
}

.attractions-select option {
  overflow: hidden;
  text-overflow:ellipsis;
}

.attractions-list {
  list-style: outside none none;
  text-align: left;
  color: #EFF5F5FF;
  font-size: calc(12px + 0.5vw);
  margin: 0;
  padding: 10px;
}

.attractions-list li {
  margin: 20px 0;
}

.mapDiv {
  width: 70%;
}

.infowindow {
  width: 250px;
  height: 140px;
  padding: 0;
  /*margin: 0;*/
}
.attraction-info {
  display: flex;
}

.attraction-img {
  max-height: 110px;
  width: 40%;
}

.attraction-tip {
  width: 60%;
  text-align: left;
  padding-left: 10px;
}



